JWT_SECRET=SuperSecretJwtString
JWT_EXPIRES_IN=1d

POSTGRES_DB=booking_db
POSTGRES_USER=booking_user
POSTGRES_PASSWORD=booking_password

POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C

PGADMIN_DEFAULT_EMAIL=admin@booking.com
PGADMIN_DEFAULT_PASSWORD=admin123

POSTGRES_PORT=5432
PGADMIN_PORT=8080

POSTGRES_CONTAINER_NAME=booking-postgres
PGADMIN_CONTAINER_NAME=booking-pgadmin

DATABASE_URL="postgresql://booking_user:booking_password@localhost:5432/booking_db?connection_limit=5&pool_timeout=20"